{{! <div class="form-group display-flex justify-center my-2"> }}
{{! <label for="search-recipes" class="mt-1">Search Recipes/Ingredients:</label>
  <input class="form-input mx-2" type="search" id="search-recipes" placeholder="Find your FREQs"/> }}
<a href='search'></a><button
  class='btn btn-primary display-flex justify-center my-2'
  type='submit'
>Find Your FREQs</button>
{{! </div> }}

<!-- Loop over each object in the projects array -->