<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4 display-flex justify-center">
  <a href="/search" class="btn btn-primary">Find Your
    FREQs</a>
</div>

<div class="row display-flex justify-center mt-5">
  {{#if recipes.length}}
  <div class="col-md-6 recipe-list">
    <h3 class="my-5">My FREQs:</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2 card">
      <div class="col-6">
        <h5><a href="/recipe">{{recipe.name}}</a></h5>
      </div>
      <div class="col-6">
        <button class="btn btn-sm btn-danger" data-id="{{recipe.id}}">Delete from FREQs</button>
      </div>
      <div>
        <img src="{{recipe.img_url}}">
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>