<div class="text-center">
  <h2>{{name}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>{{recipe.ingredients}}</p>
  <p>
    <button class="btn btn-primary freq-food">Add this Recipe!</button>
  </p>
</div>