<div class="row mt-4">
  <div class="col-12">
    <h3>Hungry? Enter any ingredient in your fridge and we'll get you cooking ASAP!</h3>
  </div>
  <div class="col-12">
    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="search-recipes">Find Your FREQs:</label>
        <input class="form-input" type="text" id="search-recipes" name="search-recipes" />
        <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
      </div>
    </form>
  </div>
  <div id="recipe-results" class="mt-3"></div>
</div>

